<!-- <p>tablica</p>
<ul>
  <li>
    {{movies[0]}}
  </li>
  <li>
    {{movies[1]}}
  </li>
</ul>

<p>ngFor - wszystkie</p>
<ul>
  <li *ngFor="let movie of movies; let i = index" (click)="wyswietlNumer(i)">
    {{movie.title}} <button *ngIf="movie.year>1999">Usun</button>
  </li>
</ul>
-->
<p>ngFor - po 1999</p>
<div *ngFor="let movie of movies; let i = index; let e = even;" (click)="wyswietlNumer(i)">
  <ng-container *ngIf="e && movie.year > 1999">
    {{i}} {{e}} {{movie.title}}
  </ng-container>
</div>

<!-- <p>ngFor - po 1999</p>
<div *ngFor="let movie of getOlderThan(1999); let i = index; let e = even;" (click)="wyswietlNumer(i)">
    Lp: {{i+1}} | even: {{e}} | {{movie.title}}
</div> -->

<!-- <p>ngFor - po 1999</p>
<div *ngFor="let movie of movies; let i = index; let e = even;" (click)="wyswietlNumer(i)">
  <div [ngSwitch]="movie.title">
    <div *ngSwitchCase="'Rouge One'">Łotr Jeden</div>
    <div *ngSwitchCase="'Lord of the rings'">Władca Pierscieni</div>
    <div *ngSwitchDefault>{{movie.title}}</div>
  </div>
</div> -->
