<!-- <div *ngFor="let movie of movies;">
  <div [ngStyle]="{color: getColor(movie.year)}">{{movie.title}} | {{movie.year}}</div>
</div>

<ul>
  <li *ngFor="let movie of movies; let oddLokalna=odd; let i = index"
  [ngClass]="{'odd-li': oddLokalna, 'last-li': isLast(i)}">
    {{movie.title}} | {{movie.year}}
  </li>
</ul> -->

<button (click)="addClick()">Add z Movies Color</button>
