<!-- <p>z html</p>
<app-movies [moviesLista]="['Lion King', 'Aladyn']"></app-movies>

<p [ngStyle]="{color: 'red'}">z property app komponentu</p>
<p [ngStyle]="{color: getColor()}">z property app komponentu</p>
<app-movies [moviesLista]="moviesZAppKomponent"></app-movies>

<app-movie-add (eventTask)="addNewMovieToList($event)">
  <p>html do kontnetu przekazany</p>
</app-movie-add>
 -->
 <app-movies></app-movies>
 <app-movies-colors></app-movies-colors>
