<!-- <p>ngIf</p>
<div *ngIf='isVisible'>
  <div *ngFor="let movie of movies;">
    {{movie.title}}
  </div>
</div>
<button (click)='ngIfAkcja()'>ngIf</button>

<p>hidden</p>
<div [hidden]='isHidden' >
  <div *ngFor="let movie of movies;">
    {{movie.title}}
  </div>
</div>
<button (click)='hiddenAkcja()'>ngIf</button>
-->

<!-- <div *ngFor="let movie of moviesLista;">
  {{movie}}
</div> -->

<!-- <div *ngFor="let movie of movies;">
  {{movie}}
</div> -->

<button (click)="addClick()">Add z Movies</button>
