<div>
  <input [value]="propertyBinding" [maxLength]="max">
  {{propertyBinding}}
</div>
<div>
  <input [(ngModel)]="twoWayBinding">
  {{twoWayBinding}}
</div>
<div>
  <button (click)="buttonClick($event)">Klikaj</button>
</div>
