<ul>
  <li>
    Czas: {{czasTeraz | date: 'fullDate'}}
  </li>
  <li>
    Marka: {{samochod.marka | uppercase}}
  </li>
  <li>
    Model: {{samochod.model}}
  </li>
  <li>
    Spalanie: {{samochod.spalanie| number: '.1-2'}}
  </li>
  {{marka}}
</ul>
