<div>
  <input (focus)="onFocus()" (blur)="onBlur()">
</div>
<div>
  <input [disabled]="isDisable" (mousemove)="onMouseMove($event)">
</div>
<div>
  <input [disabled]="isDisable" (paste)="onPaste($event)" [(ngModel)]="text1">
</div>
<div>
  {{log}}
</div>

<!--
  onBlur => isDisable = false
onFocus => isDisable = true
onMouseMove => console.log( lokalizacja kursora ) i do zmiennej log
onPase => alert ZAKAZ KOPIOWANIA
-->
