<div>
  <input [maxLength]="inputMaxLength" [(ngModel)]="newText">
</div>
<div>
  <p>{{someText}}</p>
</div>
<div>
  <img [src]="imageUrl" style="width: 150px">
</div>
<div>
  <button (click)="changeMe()" [disabled]="isBtnLock">Klikaj</button>
</div>
